<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">Quiz Web Application</a></h1>

      <nav id="navbar" class="navbar">
        <li *ngIf="isAuthenticated" class="nav-item active">
          <div class="nav-link">Welcome {{username}}</div>
          
        </li>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>
 
 
  





  
  
 

  